* {
    background: white;
    color: #222;
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.header {
    padding: 1rem;
}
.header__logo {
    margin: 0 auto;
    max-width: 300px;
}

.menu {
    width: 100%;
    font-weight: bold;
    font-size: .9rem;
    text-transform: uppercase;
}
.menu__wrapper {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1rem;
}
.menu__item a {
    text-decoration: none;
}

.player {
    margin: 1rem auto;
    max-width: 500px;
    width: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer__logo {
    width: 100px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.footer__img {
    width: 100%;
    height: auto;
}
.footer__contact-info {
    font-size: .85rem;
    text-align: center;
    padding: 1rem;
}


.menu::before,
.footer__contact-info:before  {
    content: '';
    display: block;
    width: 100%;
    height: 1rem;
    background: url(../images/misc.png) no-repeat center top;
    opacity: .2;
}
.footer__contact-info:before {
    height: 2rem;
    background-position: center;
}